#test {
	  width: 100%;
	    text-align: center;
}

#left {
      float:left;
      width:3%;
      height: 100px;
      background: #ff0000;
}

#center {
      display: inline-block;
      margin:0 auto;
	width: 35%;
	height: 100px;
	background: #00ff00;
}

#right {
        float:right;
	  width:62%;
	  height: 100px;
	  background: #0000ff;
}

